*~
lib
venv
foo
bar
old
old?
foo.html
bar.html
draft-ietf-rtcweb-jsep.txt.old
draft-ietf-rtcweb-jsep.txt
draft-ietf-rtcweb-jsep.html
draft-ietf-rtcweb-jsep.diff.html
draft-ietf-rtcweb-jsep.pdf
draft-ietf-rtcweb-jsep.old.raw
draft-ietf-rtcweb-jsep.old.xml
draft-ietf-rtcweb-jsep.old.html
draft-ietf-rtcweb-jsep.old.txt
draft-ietf-rtcweb-jsep.raw
